* {
    font-family: "Kanit", sans-serif;
}

body {
    display: flex;
    height: 100dvh;
    margin: 0;
    background-color: #f2f8ff;
}

h2 {
    margin: 0;
    padding-top: 30px;
    padding-left: 15px;
    margin-bottom: 20px;
    font-size: 48px;
}


/* --------------------กล่องใหญ่สุด---------------*/
.bigbox {
    display: flex;
    flex-direction: column;
    flex: 90%;
    text-align: center;
}

.navbox {
    display: flex;
    padding: 15px;
    width: 100%;
    justify-content: center;
}
.navborderstyle{
    background-color: white;
    border-radius: 20px;
    width: 70%;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.counter {
    color: white;
    border-radius: 20px;
    font-size: 14px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.navbtn{
    font-size: 18px;
    background-color: white;
    color: #222222;
    border-radius: 20px;
    border:2px solid #222222;
    padding: 10px;
    padding-left: 20px

}



.navbtn:hover {
    cursor: pointer;
}

.navbtnall{
    font-size: 18px;
    background-color: #222222;
    color: #ffffff;
    border-radius: 20px;
    border:2px solid #222222;
    padding: 10px;
    padding-left: 20px;

}




.BoxOrder {
    flex: 90%;
    padding: 10px;
    background-color: #eef3fe;
    overflow-y: auto;
}

.PaymentMenu, .ManageTableMenu {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.title_top{
    width: 100%;
    text-align: left;
}

.PaymentBox{
    flex-direction: column;
    justify-content: center;
    background-color: White;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
}


.HistoryMenu {
    display: flex;
    flex-direction: column;
}




.PaymentMenu {
    display: flex;
}

.ManageTableMenu {
    display: none;
}

.HistoryMenu {
    display: none;
}
.PaymentBox{
    display: none;
}

.smallbox {
    width: 20%;
    height: fit-content;
    margin: 10px;
    margin-left: 25px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px;
}

.tinybox_top {
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box_left_top {
    margin-left: 10px;
    padding: 5px;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
}

.tableid {
    font-size: 20px;
}

.orderid {
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

.box_right_top {
    color: white;
    border-radius: 20px;
    width: 30%;
    align-self: center;
    margin-right: 10px;
    font-size: 20px;
    padding-top: 15px;
}

.tinybox_middle {
    padding: 5px;
    background-color: white;
    height: 150px;
    overflow-y: auto;
    text-align: left;
}

.tinybox_bottom {
    text-align: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.descrip,
.bill,
.btnstyle{
    font-size: 18px;
    width: fit-content;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: #0dcaf0;
}



/* ////////////////// Payment //////////////////// */

.PaymentBox2{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);

}

.cont-btn{
    text-align: center;
}




/* -----------------pop up ---------------------*/
.modal {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(34, 34, 34, 0.66);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;

}

.content {
    position: absolute;
    background: white;
    width: 400px;
    height: fit-content;
    padding: 1em 2em;
    border-radius: 4px;
}

.list {
    text-align: left;
}


.list-cancel {
    display: flex;
    justify-content: space-around;
}

.ok, .cancel {
    color: white;
    font-size: 18px;
    width: 20%;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.box-close {
    position: absolute;
    top: 0;
    right: 15px;
    color: black;
    text-decoration: none;
    font-size: 30px;
}

/* ----------------------------------------------- */


/* ------------------------color------------------- */
.colorRed {
    background-color: #dc3545;
    color: white;
}

.colorGreen {
    background-color: #198754;
    color: white;
}

.colorYellow {
    background-color: #ffca2c;
    color: white;
}

.colorGray {
    background-color: rgb(116, 115, 115);
    color: white;
}

.colorBlack {
    background-color: black;
    color: white;
}

.con-table{
    height: 420px;
    overflow-y: auto;
}



/* ---------------------------------------------------- */