* {
    font-family: "Kanit", sans-serif;
}

body {
    display: flex;
    height: 100dvh;
    margin: 0;
}

h2 {
    margin: 0;
    padding-top: 15px;
    padding-left: 15px;
}


/* --------------------กล่องใหญ่สุด---------------*/
.bigbox {
    display: flex;
    flex-direction: column;
    flex: 90%;
    text-align: center;
}

.navbox {
    display: flex;
    padding: 15px;
    width: 100%;
    justify-content: center;
}
.navborderstyle{
    background-color: white;
    border-radius: 20px;
    width: 50%;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.counter {
    color: white;
    border-radius: 20px;
    font-size: 14px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.navbtn{
    font-size: 18px;
    background-color: white;
    border-style: solid;
    font-weight: bold;
    border-radius: 5px;
    border-color: rgb(114, 114, 114);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 50px;
    width: 150px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: left;
    padding-left: 30px;
}



.navbtn:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.BoxOrder {
    flex: 90%;
    padding: 10px;
    background-color: #eef3fe;
    overflow-y: auto;
}

.PaymentMenu, .ManageTableMenu {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.title_top{
    width: 100%;
    text-align: left;
}

.PaymentBox{
    flex-direction: column;
    justify-content: center;
    background-color: White;
    border-radius: 20px;
    border-style: solid;
    padding: 20px;
}


.HistoryMenu {
    display: flex;
    flex-direction: column;
}

table {
    border-collapse: collapse;
    width: 80%;
    align-self: center;
}

th {
    border-collapse: collapse;
    background-color: lightblue;
    border-color: gray;
    border-style: solid;
    border-width: thin;
}

tr, td {
    border-color: gray;
    border-style: solid;
    border-width: thin;
    background-color: white;
    font-weight: normal;
}

.PaymentMenu {
    display: flex;
}

.ManageTableMenu {
    display: none;
}

.HistoryMenu {
    display: none;
}
.PaymentBox{
    display: none;
}

.smallbox {
    width: 20%;
    height: fit-content;
    margin: 10px;
    margin-left: 25px;
    background-color: rgba(255, 255, 255, 0.537);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.tinybox_top {
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(243, 238, 238);
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box_left_top {
    margin-left: 10px;
    padding: 5px;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
}

.tableid {
    font-size: 20px;
}

.orderid {
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

.box_right_top {
    color: white;
    border-radius: 20px;
    width: 30%;
    align-self: center;
    margin-right: 10px;
    border-style: solid;
    border-color: rgb(190, 188, 188);
    font-size: 20px;
    padding-top: 15px;
}

.tinybox_middle {
    padding: 5px;
    background-color: white;
    height: fit-content;
    overflow-y: auto;
    text-align: left;
}

.tinybox_bottom {
    background-color: rgb(243, 238, 238);
    text-align: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.descrip,
.bill,
.btnstyle{
    font-size: 18px;
    width: fit-content;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.descripAhref {
    text-decoration: none;
    color: black;
}


/* -----------------pop up ---------------------*/
.modal {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(187, 187, 187, 0.7);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}

.content {
    position: absolute;
    background: white;
    width: 400px;
    height: fit-content;
    padding: 1em 2em;
    border-radius: 4px;
    border-style: double;
}

.list {
    text-align: left;
}

.list-cancel {
    display: flex;
    justify-content: space-around;
}

.ok, .cancel {
    color: white;
    font-size: 18px;
    width: 20%;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.box-close {
    position: absolute;
    top: 0;
    right: 15px;
    color: black;
    text-decoration: none;
    font-size: 30px;
}

/* ----------------------------------------------- */


/* ------------------------color------------------- */
.colorRed {
    background-color: red;
    color: white;
}

.colorGreen {
    background-color: rgb(33, 202, 33);
    color: white;
}

.colorYellow {
    background-color: rgb(240, 193, 22);
    color: white;
}

.colorGray {
    background-color: rgb(116, 115, 115);
    color: white;
}

.colorBlack {
    background-color: black;
    color: white;
}

/* ---------------------------------------------------- */