*{
  font-family: "Kanit", sans-serif;
}
body {
  display: flex;
  height: 100dvh;
  margin: 0;
}
h1{
  margin: 0;
  padding-top: 15px;
  padding-left: 15px;
}

/* ----------------navsidebar-------------------- */
.navsidebar{
  display: flex;
  flex-direction: column;
  background-color: #222;
  width: 100%;
  flex: 15%;
  padding-top: 85px;
}
.btn{
  text-decoration: none;
  background-color: 222;
  border-style: none;
  color: white;
  font-size: 20px;
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
}
.btn:hover{
  background-color: rgb(81, 81, 81);
  text-decoration: underline;
  transition: all .35s ease;
  color: #ff7b00;
}
/* -------------------------------------------- */

/* --------------------กล่องใหญ่สุด---------------*/
.bigbox {
  display: flex;
  flex-direction: column;
  flex: 90%;
  text-align: center;
}


.navbar {
  width: 100%;
  background-color: white;
  display: flex;
}
.navbox {
  padding: 15px;
  flex: 85%;
}
.counter {
  color: white;
  border-radius: 20px;
  font-size: 14px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.navbtn,
.exitbtn {
  height: 50px;
  font-size: 18px;
  background-color: white;
  border-style: solid;
  font-weight: bold;
  border-radius: 5px;
  border-color: rgb(114, 114, 114);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.navbtn {
  margin-right: 10px;
  text-align: left;
  width: 15%;
  padding-left: 30px;
}
.exit {
  flex: 15%;
  padding: 15px;
}
.exitbtn {
  width: 70%;
  height: 50px;
}
.navbtn:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.exitbtn:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.BoxOrder {
  flex: 90%;
  padding: 10px;
  background-color: rgb(204, 204, 204);
  overflow-y: auto;
}

.PaymentMenu, .ManageTableMenu{
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.PaymentMenu{
  display: flex;
}
.ManageTableMenu{
  display: flex;
}

.smallbox {
  width: 20%;
  height: fit-content;
  margin: 10px;
  margin-left: 25px;
  background-color: rgba(255, 255, 255, 0.537);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(190, 188, 188);
}
.tinybox_top {
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: rgb(243, 238, 238);
  padding: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.box_left_top {
  margin-left: 10px;
  padding: 5px;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
}
.tableid {
  font-size: 20px;
}
.orderid {
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 25px;
  padding-left: 5px;
  padding-right: 5px;
}
.box_right_top {
  color: white;
  border-radius: 20px;
  width: 30%;
  text-align: center;
  align-self: center;
  margin-right: 10px;
  border-style: solid;
  border-color: rgb(190, 188, 188);
  font-size: 20px;
}
.tinybox_middle {
  padding: 5px;
  background-color: white;
  height: fit-content;
  overflow-y: auto;
  text-align: left;
}
.tinybox_bottom {
  background-color: rgb(243, 238, 238);
  text-align: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.descrip,
.bill {
  font-size: 18px;
  width: fit-content;
  height: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}
.descripAhref {
  text-decoration: none;
  color: black;
}



/* -----------------pop up ---------------------*/
.modal {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(187, 187, 187, 0.7);
  transition: all 0.4s;
  visibility: hidden;
  opacity: 0;
}

.content {
  position: absolute;
  background: white;
  width: 400px;
  height: fit-content;
  padding: 1em 2em;
  border-radius: 4px;
  border-style: double;
}
.list {
  text-align: left;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.box-close {
  position: absolute;
  top: 0;
  right: 15px;
  color: black;
  text-decoration: none;
  font-size: 30px;
}
/* ----------------------------------------------- */


/* ------------------------color------------------- */
.colorRed {
  background-color: red;
  color: white;
}
.colorGreen {
  background-color: rgb(33, 202, 33);
  color: white;
}
.colorYellow {
  background-color: rgb(240, 193, 22);
  color: white;
}
.colorGray {
  background-color: rgb(116, 115, 115);
  color: white;
}
.colorBlack {
  background-color: black;
  color: white;
}
/* ---------------------------------------------------- */