@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

/* navbar */

.navbar{
    font-size: 18px;
    background-color: #04030F;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);

}

.navbar-brand {
    font-family: "Acme", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 32px;
    color: #FF3E1D;


}

.navbar-brand:hover{
    color: #FF3E1D;

}

.btnt1{
    color: #ffffff;
    background-color: #FF3E1D;
    border: 1px solid #FF3E1D;
    width: 100px;

}

.btnt1:hover{
    color: #FF3E1D;
    border: 1px solid #FF3E1D;

}



/*///////////////////////////// header ///////////////////////////////*/
.header-content{
    background-image: linear-gradient(#04030fa0, #1212128a),
    url("../img2/bg-header6.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    height: 100dvh;
    padding: 30px;
    
}

.con-text {
    padding-top: 8rem;
    text-align: center;

}

.con-text h1{
    font-family: "Acme", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 150px;

}

.con-text p{
    font-style: italic; 
    font-size: 40px;
   
}


.btnh1{
    color: #ffffff;
    background-color: #FF3E1D;
    border: 1px solid #FF3E1D;
    font-size: 28px;
    width: 170px;
    transform-origin: center top;
    transition-property: transform;
    transition-duration: 0.3s;
    border-radius: 20px;

}

.btnh1:hover{
    color: #FF3E1D;
    border: 1px solid #FF3E1D;
    transform: scale(1.1, 1.1);


}

.btnh2{
    color: #ffffff;
    border: 1px solid #ffffff;
    font-size: 28px;
    transform-origin: center top;
    transition-property: transform;
    transition-duration: 0.3s;
    border-radius: 20px;


}

.btnh2:hover{
    color: #0e0e0e;
    border: 1px solid #ffffff;
    background-color: white;
    transform: scale(1.1, 1.1);


}

p {
    font-size: 20px;
}


/*///////////////////////////// about ///////////////////////////////*/


.section-about {
    background-color: #04030F;
    background-image: linear-gradient(#04030f8d, #04030f9e),url("../img2/bg-header7.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 10rem;
    padding-top: 10rem;
    color: white;
}

.picbox img{
    width: 100%;
    border-radius: 20px;
    border: 3px solid #ffffff;

}

.text1 {
    font-weight: 500;
    font-size: 48px;

}




/*///////////////////////////// top menu ///////////////////////////////*/

.section-typemenu{
    background-image: linear-gradient(#04030f9a, #121212ab),
    url("../img2/bg-header8.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    padding-top: 10rem;
    padding-bottom: 5rem;


}

.topmenu{
    margin-bottom: 50px;
}


.menubox{
    /*background-color: #3a3a3a;*/
    background-color: rgb(255, 255, 255);
    color: #222;
    text-align: center;
    transform-origin: center top;
    transition-property: transform;
    transition-duration: 0.3s;
}

.menubox:hover{
    transform: scale(1.1, 1.1);
    
}

.card-title{
    font-size: 30px;
}



.section-menu{
    background-color: #222;
    color: rgb(255, 255, 255);
    padding-top: 5rem;
    padding-bottom: 10rem;

}

.box-food{
    padding: 15px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    
}

.con-card{
    padding: 10px;
    flex-direction: row;
    border: 1px solid #ffffff;
    background-color: #ffffff00;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.con-card img {
    max-width: 40%;
    margin: auto;
    padding: 0.5em;
    border-radius: 0.7em;
}

.card-title1 {
    color: #FF3E1D;

}

.card-text1{
    color: #ffffff;
}

.text-price{
    font-style: italic; 
    font-size: 18px;
    color: #FF3E1D;

}

.con-card{
    transform-origin: center top;
    transition-property: transform;
    transition-duration: 0.3s;
}

.con-card:hover{
    transform: scale(0.95, 0.95);
    
}

.line{
    margin: 0 auto;
    border: 3px solid #FF3E1D;
}



/*///////////////////////////// booking table ///////////////////////////////*/


.section-bookingtable {
    background-color: #04030F;
    background-image: linear-gradient(#0b0829e8, #04030fb8),url("../img2/table2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10rem;
    padding-top: 10rem;
    color: white;
}

.box-booking{
    padding: 30px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    
}


.con-right2{
    text-align: center;
    color: white;

}

.text4{
    margin-top: 80px;
}

hr{
    margin: 0 auto;
    border: 1px solid;
}

.text-footer{
    font-family: "Acme", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 38px;
    color: #FF3E1D;
}

.p-footer {
    font-size: 16px;
    padding: 20px;

}
   



@media only screen and (max-width: 600px){
    .con-text h1{
        font-size: 64px;
    
    }
    .con-text h3{
        font-size: 18px;
    }
    .con-text p{
        font-size: 18px;
    }

    .btnh1, .btnh2{
        width: 100%;
        font-size: 16px;
    
    }


    .con-right{
        font-size: 16px;

    }

    .p-footer {
        padding: 20px;
        font-size: 12px;
    }
    
}
