
*{
    box-sizing: border-box;
}

body{
    background-color: #222;
    font-family: "Kanit", sans-serif;
}

.navbar{
    top: 0;
    display: flex;
}

.a_nav{
    font-size: 18px;
    text-decoration: none;
    color: White;
    padding: 29px;
}

.container{
    width: fit-content;
}
.login{
    width: 35%;
}
.register{
    width: 40%;
}

.con-form{
    margin: auto;
    width: 80%;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);

}

.btn{
    background-color: #FF3E1D;
    color: white;
}

.btn:hover{
    border: 2px solid #FF3E1D;
    color: #FF3E1D;
}

.con-text, .form-check {
    text-align: center;
}


@media only screen and (max-width: 600px){
    .login{
        width: 100%;
    }
    .register{
        width: 100%;
    }
    
    
}
